.table{
    margin: auto;
    width: 60% !important;
}
.work{
    margin: auto !important;
}
.toSend{
    margin-top: 3% !important;
}
.all{
    margin: auto !important;
    text-align: center;
}
.dateCheck{
    text-align: center !important;
    width: 25%;
    margin-left: 20% !important;
    margin-bottom: 2% !important;
}