.dateChoose{
    text-align: center !important;
    margin-bottom: 2% !important;
    margin: auto !important;
} 

.css-1xhypcz-MuiStack-root>.MuiTextField-root {
    width: 225px;
}

.text{
    margin-top: 3% !important;
}

.login{
    margin-top: 3% !important;  
}
